

.App-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size:1.2rem;

}
.todobox{
  padding-left:5%;
  padding-top:5%;
  height: 400px;
  width: 300px;
  border-radius: 2%;
  background-color: lightblue;
}



